<!DOCTYPE html>
<html>
  <head>
    <title>SongList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <h1>Best Songlist Eva!</h1>
    <ul>
      <li><%= link_to "List Artists", artists_path %></li>
      <li><%= link_to "New Song",   new_song_path %></li>
      <li><%= link_to "List songs", song_list_path %></li>
    </ul>
    <div>
      <%= yield %>
    </div>  
  </body>
</html>
